This file used for data concatenation of Chinese data from choice. <br>
The original data is download from choice(东方财富网) website, each file has 500 samples and 202 files in total in 'original.rar'. <br>
After running the codes, all data will be merged into one file 'choice_news.csv' and transfer the timezone from China to US 'choice_news_ustime.csv'.<br>
If you already have the file 'choice_news_ustime.csv', then there is no need to run this code file.

In [56]:
import pandas as pd 
import os
import numpy as np 
import time, datetime

In [9]:
path = r'C:\Users\Dell\Desktop\FYP\data\choice_news' #文件夹目录
files= os.listdir(path)

In [11]:
data = pd.DataFrame(data = None)
for file in files: #遍历文件夹
    position = path+'\\'+ file #构造绝对路径，"\\"，其中一个'\'为转义符
    data_new = pd.read_excel(position,usecols=[1,2,5])[0:500]
    data = pd.concat([data, data_new])
# data.drop_duplicates(subset='标题', keep='first', inplace=True)

In [3]:
# aa = pd.read_excel(r'C:\Users\Dell\Desktop\FYP\data\choice_news\8.xls',usecols=[1,2,5])[0:500]
# bb = pd.read_excel(r'C:\Users\Dell\Desktop\FYP\data\choice_news\9.xls',usecols=[1,2,5])[0:500]
# cc = pd.concat([aa, bb])

In [13]:
data.drop_duplicates(subset='标题', keep='first', inplace=True)

In [15]:
data.sort_values(by = '时间')

,时间,标题,网址
262,2016-01-01,商务部放弃外贸增长目标 2016年外贸“维稳”第一,"http://finance.eastmoney.com/news/1350,2016010..."
409,2016-01-01,A股春季行情敏感窗口开启 新年万亿解禁潮突袭,"http://finance.eastmoney.com/news/1353,2016010..."
406,2016-01-01,迷雾中的汉能：李河君0.5折卖股是抛售还是债务融资,"http://finance.eastmoney.com/news/1345,2016010..."
405,2016-01-01,34家公司豪爽高送转 高送转概念股引资金垂青,"http://finance.eastmoney.com/news/1344,2016010..."
403,2016-01-01,沪股通净流出4.5亿 成交前十合计遭净卖出3.8亿,"http://finance.eastmoney.com/news/1353,2016010..."
...,...,...,...
82,2021-01-01,隔夜外盘：纳指全年涨逾43% 金价创10年来最佳年度表现,"http://hk.eastmoney.com/news/11329,20210101175..."
83,2021-01-01,美股集体收高道指年涨7.25% 蔚来全年大涨超1100%,"http://forex.eastmoney.com/news/1129,202101011..."
85,2021-01-01,2020年美股收官：三大指数齐收涨 纳指累涨43.64%,"http://finance.eastmoney.com/news/1828,2020123..."
0,2021-01-01,接任欧盟轮值主席国 葡萄牙担子不轻,"http://finance.eastmoney.com/news/1351,2021010..."
263,NaN,NaN,NaN

In [16]:
data.to_csv(path_or_buf=r'C:\Users\Dell\Desktop\choice_news.csv')
print('data saved')

data saved

In [61]:
data2 = pd.read_csv(r'C:\Users\Dell\Desktop\choice_news.csv',usecols  = [1,2])
data2.dropna(inplace = True)
data2.rename(columns={'时间':'date','标题':'title'}, inplace=True)

In [62]:
data2

             date                                 title
0      2021-01-01                    接任欧盟轮值主席国 　葡萄牙担子不轻
1      2021-01-01       亚马逊在华一审败诉 　被判不得使用AWS名称并赔偿7646万元
2      2021-01-01             俄罗斯通过“土耳其溪”管道向塞尔维亚和波黑供天然气
3      2021-01-01           2020年全球宏观经济速览：遭遇疫情剧烈冲击后温和复苏
4      2021-01-01       特斯拉Model 　Y长续航版降价超14万：下调至33.99万
...           ...                                   ...
92270  2018-12-18  强生(JNJ.US)CEO回应爽身粉事件：坚信其产品及滑石粉原料不含石棉
92271  2018-12-18      裁员潮来势汹汹！又一家车企巨头撑不住了 　明年至多裁员5000人
92272  2018-12-18                   苹果拒绝执行“禁售令” 　专家称已违法
92273  2018-12-18                           中国连续5个月减持美债
92274  2018-12-18                日韩股市双双低开 　日经225指数跌1.1%

[92274 rows x 2 columns]

In [30]:
# data2.reset_index(drop=True, inplace=True)

# data2.drop(inplace=True, columns=['category', 'content', 'provider', 'url', 'article_id'], axis=1)

In [32]:
# data2

In [63]:
ff = data2

In [70]:
ff['date']= pd.to_datetime(pd.to_datetime(ff.date,origin='unix'
                                      ).apply(lambda x: x.strftime("%Y-%m-%d")))

In [71]:
ff

            date                                 title
0     2021-01-01                    接任欧盟轮值主席国 　葡萄牙担子不轻
1     2021-01-01       亚马逊在华一审败诉 　被判不得使用AWS名称并赔偿7646万元
2     2021-01-01             俄罗斯通过“土耳其溪”管道向塞尔维亚和波黑供天然气
3     2021-01-01           2020年全球宏观经济速览：遭遇疫情剧烈冲击后温和复苏
4     2021-01-01       特斯拉Model 　Y长续航版降价超14万：下调至33.99万
...          ...                                   ...
92270 2018-12-18  强生(JNJ.US)CEO回应爽身粉事件：坚信其产品及滑石粉原料不含石棉
92271 2018-12-18      裁员潮来势汹汹！又一家车企巨头撑不住了 　明年至多裁员5000人
92272 2018-12-18                   苹果拒绝执行“禁售令” 　专家称已违法
92273 2018-12-18                           中国连续5个月减持美债
92274 2018-12-18                日韩股市双双低开 　日经225指数跌1.1%

[92274 rows x 2 columns]

In [72]:
ff['ch_date']= ff.date.dt.tz_localize('Asia/Shanghai')
#creating new column with time zone set to US/Pacific 
ff['us_date']=ff.ch_date.dt.tz_convert('America/New_York').apply(lambda x: x.strftime("%Y-%m-%d"))
# ff['date'] = ff.date_time.dt.tz_convert('America/New_York')

In [74]:
ff.sort_values(by='us_date', inplace=True)

In [78]:
us_time_data = ff[['us_date','title']]

In [79]:
us_time_data.to_csv(path_or_buf=r'C:\Users\Dell\Desktop\choice_news_ustime.csv',index = False)
print('data saved')

data saved